* {
    bg:            #200906;
    bg-alt:        #131313;
    bg-selected:   #1C1C1C;

    fg:            #aeaeae;
    fg-dim:        #767676;

    accent:        #FFFFFF;
    blue:          #6485A6;
    red:           #EE1B57;

    border:        #1C1C1C;

    font: "Monospace 13";

    background-color: transparent;
    text-color: @fg;

    margin: 0;
    padding: 0;
    spacing: 0;
}

window {
    location: center;
    anchor: center;

    width: 700px;

    background-color: @bg;
    border: 1px;
    border-color: @border;
    border-radius: 7px;
}

mainbox {
    padding: 18px;
    spacing: 14px;
    background-color: @bg;
}

inputbar {
    background-color: @bg-alt;
    border: 0px;
    padding: 13px;
    spacing: 10px;
}

prompt {
    text-color: @accent;
    padding: 0 8px 0 0;
}

entry {
    text-color: @fg;
    placeholder-color: @fg-dim;
}

listview {
    lines: 7;
    columns: 1;

    background-color: @bg;
    fixed-height: true;

    spacing: 6px;
    margin: 13px 0 0 0;
}

element {
    padding: 10px 13px;
    background-color: transparent;
    text-color: @fg;
}

element normal.normal,
element alternate.normal {
    background-color: transparent;
    text-color: @fg;
}

element selected.normal {
    background-color: @bg-selected;
    text-color: @accent;
}

element-icon {
    size: 20px;
    margin: 0 10px 0 0;
    background-color: transparent;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    vertical-align: 0.5;
}

scrollbar {
    width: 0px;
}

