* {
  font-family: "Iosevka Nerd Font", monospace;
  font-size: 16px;
}

#waybar {
  background: transparent;
  border-radius: 10px;
  padding: 4px 10px;
}

.module {
  padding: 2px 10px;
  margin: 4px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

#workspaces {
  background: #161616;
  color: #ffffff;
  padding: 0px 0px;
}

#workspaces .active {
  background: #5fafff;
  color: #161616;
  font-weight: bold;
}

#workspaces button {
  background: #161616;
  color: #777777;
  font-weight: bold;
}

#clock {
  color: #f7f7f7;
  background: #161616;
  font-weight: bold;
  border-radius: 6px;
  margin-left: 60px;
}

#cpu {
  background: #161616;
  color: #e39695;
}

#memory {
  background: #161616;
  color: #d1f0b1;
}

#network {
  background: #161616;
  color: #a9d3ff;
}

#pulseaudio {
  background: #161616;
  color: #5fafff;
}

#battery {
  background: #161616;
  color: #ffaf5f;
}

.separator {
  color: #444444;
}

#tooltip {
  background: #161616;
  color: #f7f7f7;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 12px;
}
